#product
{
  background-color:white;
  height: 900px;
  padding-top: 6px;
  width: 1300px;
  height: 800px;
}
#product h1
{

font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 43px;
letter-spacing: 0.25em;
text-transform: capitalize;
margin-left: 480px;
margin-top: 100px;
/* Primary/Dark */

color: #212529;
}
.productdesc
{


}
.productdesc h3
{

font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 20px;
color: #000000;



}
.productdesc p{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 17px;
line-height:25px;
color: #868E96;
}
.productdesc ul li p {
  color:#212529;
}

.productsec img
{

width: 400px;
height: 440px;
margin-left: 150px

}
.productsec
{

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 20px 20px; */

  height:600px;
  background-color: white;

}
/*.productimage
{
  background-color: white;
  height: 500px;
    flex-basis: 60%;
    padding-top: 20px;
}*/


.productdesc
{
  display:flex;
  flex-direction: column;
  flex-basis:50%;
  /* margin:60px 60px; */
  background-color: white;
/* padding:20px 50px; */
/* height: 455px; */

}
.productdesc ul li{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 17.5891px;
line-height:4;
color: #212529;
list-style: none;
display: flex;
color: #212529;

}
hr
{

         top: 20px;
         border: none;
         height:2px;
         background:grey;
       width:28%;
         margin-left: 480px;
         margin-top: 15px;

}
.circle{
  position:relative;
  width: 40.83px;
  height: 40.83px;
  background: linear-gradient(90deg, #0F2027 0%, #203A43 75.72%, #2C5364 100%);
  border-radius: 84.9317px;
  display:flex;
  top: 5px;


}
.icon{
color: #E6EAF7;
font-size:20px;
/* margin:auto; */


}
.circle,.icon
{
  margin: 10px;
}
