*{
  margin:0;
  padding: 0;

}
body{
  font-size:
  font-family:'Montserrat', sans-serif;;
}
div,section, span, ul, li, a,header {
  box-sizing: border-box;
}

/* css reset */

header
{
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
}

#menulist li {
list-style: none;
display: inline-block;
margin: 20px;
}

#menulist li a
{
  color:black;
  text-decoration: none;
font-size: 15px;
font-family: 'Montserrat';
font-weight: bold;
}
#home
{
background: #DEE2E6;
height: 700px;
width:1300px;
}
#products
{
  background-color: white;

}


#productheading
{
  font-family: 'Bebas Neue';

}
.row
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0;
  margin-left: 40px;
}
.col-1
{
  flex-basis: 70%;
  position: relative;
  margin-left: 50px;
}
.col-1 h1
{

/*  position: absolute;*/
  width: 510px;
  height: 154px;
  left: 70px;
  top: 281px;

  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;

  background: linear-gradient(96.26deg, #212529 1.57%, rgba(32, 58, 67, 0.9) 51.01%, rgba(44, 83, 100, 0.8) 100.46%, rgba(44, 83, 100, 0.8) 100.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

font-family: 'Bebas Neue';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;

background: linear-gradient(96.26deg, #212529 1.57%, rgba(32, 58, 67, 0.9) 51.01%, rgba(44, 83, 100, 0.8) 100.46%, rgba(44, 83, 100, 0.8) 100.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

  /*font-size: 50px;
  font-weight: 100;
  margin: 20px 0 10px*/
}
.col-1 p
{
  /*font-size: 17px;
  font-weight: 100;
  margin-top:10px;
  margin-bottom: 15px;*/
  /*position: absolute;*/
width: 585px;
height: 57px;
left: 71px;
top: 439px;

font-family: 'Montserrat';
font-style:normal;
font-weight: 200;
font-size: 16px;
line-height: 19px;
padding-top: 10px;
padding-bottom: 20px;

color: #212529;


}
.col-2
{
   position:relative;
   flex-basis: 60%;
   display:flex;
   align-items:center;

}
.col-2 img{


/* margin-left: 100px; */
position:  absolute;
width: 250px;
height: 350px;
/* padding-top: 0px ; */
  padding-left: 100px;




}

.brand
{

  display:flex;
  flex-direction:column;

}
.brand a img
{
  margin-left:40px;
}
.brand h3
{
  font-family:'Bebas Neue';
   letter-spacing:2.5px;
   color:#212529;
   margin-left:20px;
}
.btn1
{
  width: 163px;
height: 51px;
background: #212529;
border-radius: 5px;
 font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}
.btn2
{
  box-sizing: border-box;
position: absolute;
width: 163px;
height: 51px;
background: #DEE2E6;
border: 2px solid #212529;
border-radius: 5px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
  margin:0 0 0 10px;
}
.btn2:hover{
  background-color:#212529;
  color: #FFFFFF;
  transition-duration: 0.4s;
}
